{% extends 'base.html' %}
{% block body %}
  <h1>글 수정</h1>
  <hr>
  <!-- url명령어 '경로' view함수의 매개변수 -->
  <form action="{% url 'articles:update' article.pk %}" method="POST"> 
    <!-- 크롬 개발자 모드에서 보면
      GET> Query String: 내용 그대로 노출 => POST> form data: 해시값으로 변경됨 -->
    <!-- <input type="hidden" name="csrfmiddlewaretoken" value="9D84qDV78qhhwUONlbHtan0IvyWACuWpsENkHpP0YU8hiVy9boDo6S71uuBQQJh1"> -->
    {% csrf_token %} 
    <!-- 이런 형식으로 작성하면 '제목'이 그냥 text가 아니라 input태그의 라벨이 된다.
        => '제목'을 클릭했을 때 포커싱이 input태그로 맞춰진다. -->
    <label for="name">제목 : </label>
    <input type="text" id="name" name="title" value="{{ article.title }}">

    <label for="cnt">내용 : </label>
    <input type="text" id="cnt" name="content" value="{{ article.content }}">

    <input type="submit" value="수정">
  </form>

{% endblock %}